
<ion-tabs-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account">
      <a routerLink="/page-tabs/account" routerLinkActive="active-tab-button">
        Account
      </a>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <a routerLink="/page-tabs/contact" routerLinkActive="active-tab-button">
        Contact
      </a>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <a routerLink="/page-tabs/settings" routerLinkActive="active-tab-button">
        Settings
      </a>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs-outlet>
